.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 background-color: white;
 padding-bottom: 70px;/* height of your footer */
}
.banner-home {
  margin-top: 70px;
  background-image: image-url("jereussis.jpg");
  background-size: cover;
  text-align: center;
  color: $light-wood;
  font-weight: 600 !important;
}

.banner-home-text {
  padding-top: 150px;
}

.banner-presentation {
  text-align: center;
}

.banner-buy {
  background-image: image-url("buy.jpg");
  background-size: cover;
  display: flex;
}

.banner-buttons {
  padding: 20px;
}

.buttons {
  margin-top: 40px;
}

.card {
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  color: black;
  text-align: center;
  height: 140px;
  margin: 10px;
}

.card-title {
  font-size: 20px;
}
.card-price {
  font-size: 35px;
  color: $wood;
  font-weight: 600;
}

.main-lign {
  border-bottom: solid 1px black;
  opacity: 0.4;
  margin: 40px 90px;
}

.banner-contact {
  background-color: white;
  a {
    color: $wood;
  }
}

.contact-social {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: white;
  a {
    font-size: 60px;
    padding: 0 20px;
    color: black;
    &:hover {
      color: $wood;
      background-color: white;
      text-decoration: none;
    }
  }
}
