<div class="main-container">
  <div class="navbar-jr navbar-fixed-top">
    <!-- Logo -->
    <div class="navbar-logos">
      <div class="navbar-logo">
      <%= image_tag 'logo_jereussis.png'%>
      </div>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-jr-right hidden-xs hidden-sm">

      <div class="navbar-tabs">
        <a href="#", class="navbar-jr-item navbar-jr-link">ACCUEIL</a>
      </div>
      <div class="navbar-tabs">
        <a href="#prestations", class="navbar-jr-item navbar-jr-link">COMMENT ÇA MARCHE ?</a>
      </div>
      <div class="navbar-tabs">
        <a href="#tarifs", class="navbar-jr-item navbar-jr-link">TARIFS</a>
      </div>
      <div class="navbar-tabs">
        <a href="#contact", class="navbar-jr-item navbar-jr-link">CONTACT</a>
      </div>

  </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-jr-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-jr-dropdown-menu">
          <li><a href="#", "navbar-jr-item navbar-jr-link">Accueil</a></li>
          <li><a href="#prestations", "navbar-jr-item navbar-jr-link">Comment ça marche ?</a></li>
          <li><a href="#tarifs", "navbar-jr-item navbar-jr-link">Tarifs</a></li>
          <li><a href="#contact", "navbar-jr-item navbar-jr-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="banner-home" style="height: 100vh;">
    <div class="banner-home-text">
      <h1>Je Réussis !</h1>
      <h2><em>Remplis, confie, réussis</em><h2>
    </div>
  </div>

  <div class="banner-presentation" style="height: 100vh;">
    <h1>Présentation + exemple transformation</h1>
  </div>

  <div class="banner-explication" style="height: 100vh;">
    <h1>Comment ça marche ?</h1>
  </div>

  <div class="banner-models" style="height: 100vh;">
    <h1>Exemple des modèles</h1>
  </div>

  <div class="banner-buttons" style="height: 30vh;">
    <h3>Je me lance !</h3>
    <div class="buttons">
      <a class="typeform-share button" href="https://juliette162.typeform.com/to/ZCiL7L" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#A96851;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:40px;text-align:center;margin:0;height:40px;padding:0px 26px;border-radius:4px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Je commande mon CV </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
       <a class="typeform-share button" href="https://juliette162.typeform.com/to/ZCiL7L" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#A96851;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:40px;text-align:center;margin:0;height:40px;padding:0px 26px;border-radius:4px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Je commande mon CV </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        <a class="typeform-share button" href="https://juliette162.typeform.com/to/ZCiL7L" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#A96851;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:40px;text-align:center;margin:0;height:40px;padding:0px 26px;border-radius:4px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Je commande mon CV </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
    </div>
  </div>

  <div class="banner-contact">
    <div class="container text-center">
      <div class="main-lign card-blogpost-lign">
      </div>
        <h3> Une question ? Un doute ? <br> Contactez-moi !</h3>
        <a href="mailto:jereussis-moncv@hotmail.com">jereussis-moncv@hotmail.com</a>
      <div class="main-lign card-blogpost-lign">
      </div>
    </div>
  </div>



  <footer>
    <div class="footer-jr">
      <div class="footer-jr__links">
        <% link_to "#", target: "_blank" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
         <% link_to "#", target: "_blank" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
         <% link_to "#", target: "_blank" do %>
          <i class="fab fa-twitter"></i>
        <% end %>
      </div>
      <div class="footer-jr__legalnotices">
        <%= link_to "Mentions légales", "#" %>
      </div>
    </div>
  </footer>
</div>
