<div class="main-container">
  <div class="navbar-jr navbar-fixed-top">
    <!-- Logo -->
    <div class="navbar-logos">
      <div class="navbar-logo">
      <%= image_tag 'logo_jereussis.png'%>
      </div>
    </div>

    <!-- Right Navigation -->
    <div class="navbar-jr-right hidden-xs hidden-sm">

      <div class="navbar-tabs">
        <a href="#", class="navbar-jr-item navbar-jr-link">ACCUEIL</a>
      </div>
      <div class="navbar-tabs">
        <a href="#explication", class="navbar-jr-item navbar-jr-link">COMMENT ÇA MARCHE ?</a>
      </div>
      <div class="navbar-tabs">
        <a href="#prices", class="navbar-jr-item navbar-jr-link">TARIFS</a>
      </div>
      <div class="navbar-tabs">
        <a href="#contact", class="navbar-jr-item navbar-jr-link">CONTACT</a>
      </div>

  </div>

    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-jr-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-jr-dropdown-menu">
          <li><a href="#", "navbar-jr-item navbar-jr-link">Accueil</a></li>
          <li><a href="#explication", "navbar-jr-item navbar-jr-link">Comment ça marche ?</a></li>
          <li><a href="#prices", "navbar-jr-item navbar-jr-link">Tarifs</a></li>
          <li><a href="#contact", "navbar-jr-item navbar-jr-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="banner-home" style="height: 100vh;">
    <div class="banner-home-text">
      <h1><em>Remplis, confies, réussis</em></h1>
      <h2><em>CV et lettres de motivation sur-mesure</em></h2>
    </div>
  </div>

  <div class="banner-presentation" style="max-height: 100%;">
    <div class="container">
      <h2>LA VALEUR AJOUTÉE DE JE RÉUSSIS</h2>
      <p>Envie de réussir tes objectifs ?
        <br>Notre équipe est là pour t’accompagner et réaliser le CV ou la lettre de motivation qui te correspondra le mieux et saura retenir l’attention du destinataire. </p>
        <div id="explication"></div>
        <p><br> Plus qu’un design nous développons, dynamisons tes aptitudes et corrigeons tes fautes ! C’est rapide, simple, personnalisé et ton CV ou ta lettre de motivation te sera envoyée par email en moins de 24h.
        <br>Alors, prêt(e) ?
      </p>
    </div>
  </div>



  <div class="banner-explication" style="max-height: 100%;">
    <h2>COMMENT ÇA MARCHE ?</h2>
    <div class="container">
      <div class="row row-explain">
        <div class="col-xs-12 col-sm-6 text-center icon-explain">
          <i class="fas fa-file-signature"></i>
        </div>
        <div class="col-xs-12 col-sm-6 text-center text-explain">
          <h3>COMPLÈTE LE FORMULAIRE...</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae illo harum praesentium vel dolorem quia doloremque.</p>
        </div>
      </div>
      <div class="main-lign">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-push-6 col-sm-6 text-center icon-explain">
          <i class="fab fa-cc-stripe"></i>
        </div>
        <div class="col-xs-12 col-sm-pull-6 col-sm-6 text-center text-explain">
          <h3>PROCÈDE AU PAIEMENT...</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae illo harum praesentium vel dolorem quia doloremque.</p>
        </div>
      </div>
      <div class="main-lign">
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-center icon-explain">
          <i class="fas fa-file-export"></i>
        </div>
        <div class="col-xs-12 col-sm-6 text-center text-explain">
          <h3> ET REÇOIS TON CV DANS TA BOÎTE MAIL SOUS 24H !</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae illo harum praesentium vel dolorem quia doloremque.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-models" style="max-height: 100%;">
    <h2>Exemple des modèles</h2>
  </div>

  <div id="prices"></div>

  <div class="banner-buy" style="max-height: 100%;">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-title">
              Curriculum Vitae CV
            </div>
            <div class="card-price">
              12€
            </div>
            <div class="card-button">
              <a class="typeform-share button" href="https://juliette162.typeform.com/to/ZCiL7L" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#6A3013;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:45px;text-align:center;margin:0;height:45px;padding:0px 20px;border-radius:2px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true target="_blank">Je commande mon CV </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-title">
              Lettre de motivation LM
            </div>
            <div class="card-price">
              10€
            </div>
            <div class="card-button">
              <a class="typeform-share button" href="https://juliette162.typeform.com/to/IHaf8L" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#6A3013;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:45px;text-align:center;margin:0;height:45px;padding:0px 20px;border-radius:2px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true target="_blank">Je commande ma LM </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-title">
              PACK CV + LM
            </div>
            <div class="card-price">
              15€
            </div>
            <div class="card-button">
              <a class="typeform-share button" href="https://juliette162.typeform.com/to/R5ICA0" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#6A3013;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:45px;text-align:center;margin:0;height:45px;padding:0px 20px;border-radius:2px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true target="_blank">Je commande mon pack CV + LM </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact"></div>

  <div class="banner-contact">
    <div class="container text-center">
      <h2>QUI SOMMES-NOUS ?</h2>
        <p>Je Réussis est une petite équipe situé dans le sud de la France qui partage plusieurs points communs : créatifs, ambitieux mais surtout à l’écoute de nos clients nous mettons tout en oeuvre pour faire ressortir le meilleur de toi sur papier !
        <br><br>Besoin de conseils, de discuter ? Une question, un doute ?
        <br> Contacte-nous sans hésitez :
        <a href="mailto:jereussis-moncv@hotmail.com">jereussis-moncv@hotmail.com</a>
        <br> <br>Et rejoinds-nous sur les réseaux !</p>
        <br> <br>
        <div class="contact-social">
          <% link_to "https://www.instagram.com/jereussis.moncv/", target: "_blank" do %>
            <i class="fab fa-instagram"></i>
          <% end %>
           <% link_to "https://web.facebook.com/Je-r%C3%A9ussis-406559066818642/", target: "_blank" do %>
            <i class="fab fa-facebook-f"></i>
          <% end %>
          <% link_to "https://twitter.com/JReussis", target: "_blank" do %>
            <i class="fab fa-twitter"></i>
          <% end %>
        </div>
      <div class="main-lign card-blogpost-lign">
      </div>
    </div>
  </div>



  <footer>
    <div class="footer-jr">
      <div class="footer-jr__links">
        <% link_to "https://www.instagram.com/jereussis.moncv/", target: "_blank" do %>
          <i class="fab fa-instagram"></i>
        <% end %>
         <% link_to "https://web.facebook.com/Je-r%C3%A9ussis-406559066818642/", target: "_blank" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
         <% link_to "https://twitter.com/JReussis", target: "_blank" do %>
          <i class="fab fa-twitter"></i>
        <% end %>
      </div>
      <div class="footer-jr__legalnotices">
        <%= link_to "Mentions légales", "#" %>
      </div>
    </div>
  </footer>
</div>
